h1 {
   color: blue;
   text-align: center;
   color: darkred;
}
h2 {
   font-style: italic;
   text-align: center;
   color: teal;
   color: red;
}
p {
  color: gray;
  color: crimson;
}
body {
    background-color: skyblue;
    background-color: salmon;
    font-family: sans-serif;
    text-align: center;
}
